<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand" href="{{site.baseurl}}">
                <img src="{{site.baseurl}}/images/favicon.svg" alt="Recruit Talent">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                onclick="lockScroll();">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <div class="ulwrap container">
                    <ul class="navbar-nav ">
                        <li class="nav-item home">
                            <a class="nav-link" href="{{site.baseurl}}">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{site.baseurl}}/about/">ABOUT US</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link ourService" href="{{site.baseurl}}/services/">OUR SERVICES</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                RESOURCES
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animate slideIn"
                                aria-labelledby="navbarDropdown">


                                <a class="dropdown-item blog" href="{{site.baseurl}}/blog/">Blog</a>
                                <a class="dropdown-item" href="{{site.baseurl}}/testimonial/">Testimonial</a>
                                <a class="dropdown-item" href="{{site.baseurl}}/faq/">FAQs</a>
                                <a class="dropdown-item casestd" href="{{site.baseurl}}/case-studies/">Case Studies</a>

                            </div>
                        </li>

                    </ul>

                    <a href="{{site.baseurl }}/contact/" id="contact">CONTACT US</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<script>
    // scrool stop on heder open
    function lockScroll() {
        document.body.classList.toggle("lock-scroll");
    }
  // scrool stop on heder open
</script>