<section class="olb">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {% if page.latest-blog-section-heading %}
                <h2>
                    {{page.latest-blog-section-heading}}
                </h2>
                {% endif %}
            </div>
        </div>
        
        <div class="row row2">
            {% assign post = site.posts | sort: "order" %}
            <!-- {% assign post = site.posts %} -->
            {% for post in post limit: 3 %}
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-10 col-10 outercol">

                <a href="{{site.baseurl}}{{post.permalink}}" class="arrow-btn-wrap">
                    <div class="cardbox">
                        <img src="{{site.baseurl}}{{post.card-thumbnail-image}}" alt="{{post.title}}">
                        <div class="outerwrap">
                            <div class="innerwrap">
                                <h5>{{post.title}}</h5>
                                <p>{{post.short-description}}</p>
                            </div>
                            <div>
                                <span class="arrow-btn">{{post.button-text}}</span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            {% endfor %}
        </div>
      
        <div class="row btn-row">
            <div class="col-12">
                {% if page.latest-blog-section-button-text %}
                <a href="{{site.baseurl}}{{page.latest-blog-section-button-link}}"
                    class="button m-auto">{{page.latest-blog-section-button-text}}</a>
                {% endif %}
            </div>
        </div>
    </div>

</section>