$rtpurpleshade: #510c76;
$rtlightpurpleshade: #F5F0FF;
$rtblueshade: #001C71;
$rtyellowshade: #FFCA3A;
$greyborder: #D9D9D9;
$darkgreyborder: #949494;
$textGrey: #333333;
$boxdarkblue: #03224B;
$boxblue: #01174C;
$boxborderblue: #397AD0;
$boxborderdarkblue: #7684FF;
$footerblue:#335799;
$underlineblue: #CFE9FA;
$black: #000;
$blackshade1: #111111;
$blackshade2: #282829;
$blackshade3: #444444;
$bordershade:#C6C6C6;
$bordershade1:#D8D8D8;
$white: #ffffff;
$bgshade: #F3F6F8;
$lightblue:#DFEBFA;
$leadershipblue1: #2861AE;
$leadershipblue2: #051832;
$privacylicolor:#3e3e40;

