main {
    &#contact {
        section {
            &.banner {
                background-color: $rtpurpleshade;
                .row1 {
                    padding: 0 15px;
                    display: flex;
                    justify-content: space-between;
                    p {
                        color: $white;
                        width: 80%;
                    }
                    .right {
                        background-color: $white;
                        box-shadow: 0px 23px 36px 0px rgba(39, 5, 58, 0.78);
                        -webkit-box-shadow: 0px 23px 36px 0px rgba(39, 5, 58, 0.78);
                        -moz-box-shadow: 0px 23px 36px 0px rgba(39, 5, 58, 0.78);
                        border-radius: 4px;
                        // max-width: 385px;
                    }
                    .left {
                        .cardrow {
                            margin-top: 100px;
                            padding-left: 0;
                            display: flex;
                            justify-content: flex-start;
                            .innerbox {
                                margin-right: 15px;
                                background-color: $rtlightpurpleshade;
                                box-shadow: 0px 23px 36px 0px rgba(54, 6, 80, 0.1);
                                -webkit-box-shadow: 0px 23px 36px 0px rgba(54, 6, 80, 0.1);
                                -moz-box-shadow: 0px 23px 36px 0px rgba(54, 6, 80, 0.1);
                                border-radius: 4px;
                                border: 1px solid #e6e6ff;
                                max-width: 200px;
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                flex-direction: column;
                                padding-top: 16px;
                                padding-bottom: 14px;
                                .round-cover {
                                    // margin: auto;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50%;
                                    border: 1px solid $rtblueshade;
                                    width: 51px;
                                    height: 51px;
                                }
                                p {
                                    text-align: center;
                                    width: 100%;
                                    color: $textGrey;
                                    margin-top: 23px;
                                }
                                a {
                                    color: $textGrey;
                                    font-size: 16px;
                                    &:hover,
                                    &:active {
                                        color: $rtpurpleshade;
                                    }
                                }
                                &.address {
                                    p {
                                        font-size: 14px;
                                        &:first-child {
                                            padding-top: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media (max-width: 1199.98px) {
                &.banner {
                    background-color: $rtpurpleshade;
                    .row1 {
                        .left {
                            .cardrow {
                                margin-top: 100px;
                                padding-left: 0;
                                display: flex;
                                justify-content: flex-start;
                                .innerbox {
                                    margin-right: 15px;
                                    margin-bottom: 15px;
                                    max-width: 100%;
                                    &.address {
                                        margin-left: 7.5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 1024px) {
            }
            @media (max-width: 991.98px) {
                &.banner {
                    background-color: $rtpurpleshade;
                    .row1 {
                        .left {
                            .cardrow {
                                margin-top: 50px;
                       
                                .innerbox {

                                    max-width: 100%;
                                    &.address {
                                        margin-left: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 767px) {
            }
            @media (max-width: 575.98px) {
            }
            @media (max-width: 475.98px) {
            }
            @media (max-width: 375.98px) {
            }
        }
    }
}
