main {
    &#home {
        section {
            &.services {
                padding-top: 60px;
                padding-bottom: 80px;
                .toprow {
                    h2 {
                        color: $blackshade3;
                        margin-bottom: 0px;
                    }
                }
                .btmrow {
                    justify-content: center;
                    .serviceBoxWrap {
                        margin-top: 47px;

                        .arrow-btn-wrap {
                            text-decoration: none;
                            width: 100%;
                            &::before {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                content: "";
                            }

                            .serviceBox {
                                padding-left: 20px;
                                padding-right: 20px;
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;
                                height: 100%;
                                border: 1px solid $rtblueshade;
                                padding-bottom: 27px;
                                border-radius: 5px;
                                background-color: $white;
                                transition: all 0.25s ease-in-out;

                                .imgwrap {
                                    background-color: $rtlightpurpleshade;
                                    margin: auto;
                                    margin-top: -1px;
                                    padding: 25px 10px 10px 10px;
                                    border-radius: 0px 0px 50% 50%;
                                    border: 1px solid $rtblueshade;
                                    .cover {
                                        background-color: $white;
                                        border-radius: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        min-width: 114px;
                                        min-height: 114px;
                                        height: auto;
                                        width: 100%;
                                    }
                                }
                                .outerwrap {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    align-items: center;
                                    flex-grow: 1;
                                    h5 {
                                        color: $blackshade3;
                                        margin-top: 28px;
                                    }
                                    p {
                                        color: $textGrey;
                                        margin-top: 19px;
                                        margin-bottom: 30px;
                                    }
                                    .arrow-btn {
                                        font-size: 14px;
                                        &::after {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                            &:hover,
                            &:active {
                                .serviceBox {
                                    display: flex;
                                    flex-direction: column;
                                    flex-wrap: wrap;
                                    height: 100%;
                                    border: 1px solid $rtblueshade;
                                    padding-bottom: 27px;
                                    border-radius: 5px;
                                    background-color: $rtpurpleshade;
                                    box-shadow: 0px 44px 76px 0px rgba(82, 91, 146, 0.11);
                                    -webkit-box-shadow: 0px 44px 76px 0px rgba(82, 91, 146, 0.11);
                                    -moz-box-shadow: 0px 44px 76px 0px rgba(82, 91, 146, 0.11);
                                }
                                .imgwrap {
                                    border-top: 1px solid transparent;
                                }
                                .outerwrap {
                                    h5 {
                                        color: $white;
                                    }
                                    p {
                                        color: $white;
                                    }
                                    .arrow-btn {
                                        color: $white;
                                        &::after {
                                            transform: translateX(10px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.fifth-section {
                padding-top: 50px;
                padding-bottom: 60px;
                background-color: $rtpurpleshade;
                img {
                    margin-bottom: 14px;
                }
                h2 {
                    color: $white;
                }
                .row2 {
                    .wocswrap {
                        #wocs {
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            padding-top: 50px;

                            li {
                                flex-wrap: wrap;
                                display: flex;
                                justify-content: center;
                                padding-bottom: 50px;

                                .innerwrap {
                                    background-color: $white;
                                    max-width: 510px;
                                    width: 100%;
                                    margin: auto;
                                    border-radius: 5px;
                                    box-shadow: 0px 23px 30px 0px rgba(54, 6, 80, 1);
                                    -webkit-box-shadow: 0px 23px 30px 0px rgba(54, 6, 80, 1);
                                    -moz-box-shadow: 0px 23px 30px 0px rgba(54, 6, 80, 1);
                                    padding: 30px 40px;
                                    .middle {
                                        position: relative;
                                        p {
                                            color: $textGrey;
                                        }
                                        &::before {
                                            position: absolute;
                                            content: url("/images/quotes.svg");
                                            top: -45px;
                                        }
                                    }
                                    .bottom {
                                        display: flex;
                                        align-items: center;
                                        margin-top: 25px;
                                        .left {
                                            margin-right: 18px;
                                            img {
                                                margin-bottom: 0px;
                                            }
                                        }
                                        .right {
                                            p {
                                                color: $textGrey;
                                            }
                                        }
                                    }
                                }
                            }
                            button {
                                &.slick-arrow {
                                    width: 38px;
                                    height: 38px;
                                    background: transparent !important;
                                    border-radius: 50%;
                                    font-size: 0;
                                    outline: none;
                                    cursor: pointer;
                                    z-index: 999;
                                    color: $blackshade1 !important;
                                    background: $rtyellowshade !important;
                                    border: 1px solid $rtyellowshade !important;
                                    &:hover,
                                    &:active {
                                        border: 1px solid $rtyellowshade !important;
                                        background: $white !important;
                                        transition: all 0.25s ease-in-out;
                                    }
                                }
                            }
                            .slick-next {
                                right: 45%;
                                top: 100%;
                                &:before {
                                    font-size: 20px;
                                    font-family: "Font Awesome 5 pro";
                                    font-weight: 900;
                                    content: "\f178";
                                    color: $blackshade1 !important;
                                    opacity: 1 !important;
                                }
                            }
                            .slick-prev {
                                left: 45%;
                                top: 100%;
                                &:before {
                                    font-size: 20px;
                                    font-family: "Font Awesome 5 pro";
                                    font-weight: 900;
                                    content: "\f177";
                                    color: $blackshade1 !important;
                                    opacity: 1 !important;
                                }
                            }
                            .slick-dots {
                                li {
                                    button {
                                        &::before {
                                            border: 1px solid $rtyellowshade;
                                            color: $rtyellowshade;
                                            background-color: $rtyellowshade;
                                            width: 10px;
                                            height: 10px;
                                            border-radius: 100%;
                                            content: "";
                                        }
                                        .slick-active {
                                            &::before {
                                                color: $rtyellowshade !important;
                                                opacity: 0.75;
                                                background-color: $rtyellowshade !important;
                                            }
                                        }
                                    }
                                }
                                bottom: -30px !important;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 1299.98px) {
        }
        @media (max-width: 1199.98px) {
            section {
                &.fifth-section {
                    .row2 {
                        .wocswrap {
                            #wocs {
                                li {
                                    .innerwrap {
                                        max-width: 400px;
                                    }
                                }

                                .slick-next {
                                    right: 44%;
                                }
                                .slick-prev {
                                    left: 44%;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 1024px) {
        }
        @media (max-width: 991.98px) {
            section {
                &.services {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    .btmrow {
                        .serviceBoxWrap {
                            margin-top: 30px;

                            .arrow-btn-wrap {
                                .serviceBox {
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    padding-bottom: 20px;
                                    .imgwrap {
                                        padding: 20px 8px 8px 8px;
                                    }
                                    .outerwrap {
                                        h5 {
                                            margin-top: 20px;
                                        }
                                        p {
                                            margin-top: 15px;
                                            margin-bottom: 25px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.fifth-section {
                    .row2 {
                        .wocswrap {
                            #wocs {
                                li {
                                    .innerwrap {
                                        max-width: 320px;
                                    }
                                }

                                .slick-next {
                                    right: 43%;
                                }
                                .slick-prev {
                                    left: 43%;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
            section {
                &.fifth-section {
                    padding-top: 50px;
                    padding-bottom: 10px;
                    .row2 {
                        .wocswrap {
                            #wocs {
                                padding-top: 30px;
                                li {
                                    .innerwrap {
                                        max-width: 480px;
                                        padding: 20px 25px;
                                    }
                                }

                                .slick-next {
                                    right: 43%;
                                }
                                .slick-prev {
                                    left: 43%;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 575.98px) {
            section {
                &.fifth-section {
                    .row2 {
                        .wocswrap {
                            #wocs {
                                li {
                                    .innerwrap {
                                        max-width: 320px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 475.98px) {
            section {
                &.fifth-section {
                    .row2 {
                        .wocswrap {
                            #wocs {
                                li {
                                    .innerwrap {
                                        max-width: 280px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 375.98px) {
        }
    }
}
