main {
    &#services {
        section {
            &.third-section {
                padding-top: 90px;
                padding-bottom: 90px;
                .row1 {
                    background-color: $rtpurpleshade;
                    display: flex;
                    align-items: center;
                    padding-top: 60px;
                    padding-bottom: 60px;
                    padding-right: 60px;
                    padding-left: 30px;
                    h2 {
                        color: $white;
                        margin-bottom: 26px;
                    }
                    p {
                        color: $white;
                    }
                    .button {
                        margin-left: auto;
                    }
                }
            }
            &.services-section {
                padding-top: 80px;
                .servicerow {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 80px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    .thumbnail-img-cover {
                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 5px;
                        }
                    }
                    .outerwrap {
                        .innerwrap {
                            h2 {
                                margin-top: 16px;
                                margin-bottom: 20px;
                            }
                            p {
                                font-size: 20px;
                                font-weight: 800;
                                color: $blackshade3;
                            }
                        }
                        .description {
                            margin-bottom: 20px;
                        }
                    }
                    .imgwrap {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: fit-content;
                        .cover {
                            padding: 15px;
                            background-color: $white;
                            border: 1px solid $rtlightpurpleshade;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            min-width: 92px;
                            min-height: 92px;
                            height: auto;
                            width: 100%;
                        }
                    }
                }
            }

            @media (max-width: 1199.98px) {
            }
            @media (max-width: 1024px) {
            }
            @media (max-width: 991.98px) {
                &.third-section {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    .row1 {
                        padding-top: 25px;
                        padding-bottom: 25px;
                        padding-right: 25px;
                        padding-left: 25px;
                        h2 {
                            margin-bottom: 20px;
                        }

                        .button {
                            margin-top: 15px;
                            margin-left: 0;
                        }
                    }
                }
                &.services-section {
                    padding-top: 50px;
                    .servicerow {
                        justify-content: space-around;
                        align-items: flex-start;
            
                        margin-bottom: 50px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        // &.even {
                        //     flex-direction: column-reverse;
                    
                        // }
                        .thumbnail-img-cover {
                            img {
                                width: 100%;
                                height: 40vh;
                                object-fit: cover;
                                border-radius: 5px;
                                margin-bottom: 15px;
                            }
                        }
                        .outerwrap {
                            .innerwrap {
                                h2 {
                                    margin-top: 15px;
                                    margin-bottom: 15px;
                                }
                            }
                            .description {
                                margin-bottom: 15px;
                            }
                        }
                        .imgwrap {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            width: fit-content;
                            .cover {
                                padding: 15px;
                                background-color: $white;
                                border: 1px solid $rtlightpurpleshade;
                                border-radius: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                min-width: 92px;
                                min-height: 92px;
                                height: auto;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            @media (max-width: 767px) {
                &.third-section {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    .row1 {
                        background-color: $rtpurpleshade;
                        display: flex;
                        align-items: center;
                        padding-top: 25px;
                        padding-bottom: 25px;
                        padding-right: 15px;
                        padding-left: 15px;
                        h2 {
                            margin-bottom: 15px;
                        }

                        .button {
                            margin-top: 15px;
                            margin-left: 0;
                        }
                    }
                }
            }
            @media (max-width: 575.98px) {
            }
            @media (max-width: 475.98px) {
            }
            @media (max-width: 375.98px) {
            }
        }
    }
}
