main {
    &.single-case-studies {
        section {
            &.banner {
                .brandwraper {
                    max-width: 168px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 13px;
                    height: 64px;
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(3px);
                    background-color: rgba(255, 255, 255, 0.26);
                    border-radius: 4px;
                }
            }
            &.second-section {
                padding-bottom: 30px;
                .row1 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 65px;
                    img {
                        border-radius: 4px;
                    }
                    .right {
                        padding-left: 15px;
                    }
                }
                .row2 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 40px;
                    h5 {
                        margin-bottom: 28px;
                    }

                    .right {
                        padding-left: 15px;
                    }
                }
                .postwraper {
                }
            }
            &.third-section {
                padding-top: 0px;
                padding-bottom: 90px;
                .row1 {
                    background-color: $rtpurpleshade;
                    display: flex;
                    align-items: center;
                    padding-top: 60px;
                    padding-bottom: 60px;
                    padding-right: 60px;
                    padding-left: 30px;
                    h2 {
                        color: $white;
                        margin-bottom: 26px;
                    }
                    p {
                        color: $white;
                    }
                    .button {
                        margin-left: auto;
                    }
                }
            }
            @media (max-width: 1199.98px) {
                &.banner {
                    .brandwraper {
                     
                        padding: 8px 10px;
                        height: 60px;
                    }
                }
            }
            @media (max-width: 1024px) {
            }
            @media (max-width: 991.98px) {
                &.banner {
                    .brandwraper {
                        max-width: 140px;
                        width: 100%;
                        padding: 5px 10px;
                        height: 55px;
                    }
                }
                &.second-section {
                    padding-bottom: 0px;
                    .row1 {

                        margin-bottom: 40px;
                        .right {
                            padding-left: 15px;
                        }
                    }
                    .row2 {

                        margin-bottom: 40px;
                        h5 {
                            margin-bottom: 20px;
                        }
    
                      
                    }
                    
                }
                &.third-section {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    .row1 {
                        padding-top: 25px;
                        padding-bottom: 25px;
                        padding-right: 25px;
                        padding-left: 25px;
                        h2 {
                            margin-bottom: 20px;
                        }

                        .button {
                            margin-top: 15px;
                            margin-left: 0;
                        }
                    }
                }
            }
            @media (max-width: 767px) {
                &.second-section {
                    padding-bottom: 0px;
                    .row1 {

                        margin-bottom: 30px;
                      
                    }
                    .row2 {

                        margin-bottom: 30px;
                        h5 {
                            margin-bottom: 15px;
                        }
    
                      
                    }
                    
                }
            }
            @media (max-width: 575.98px) {
                &.banner {
                    .brandwraper {
                        max-width: 120px;
                        height: 50px;
                    }
                }
            }
            @media (max-width: 475.98px) {
            }
            @media (max-width: 375.98px) {
            }
        }
    }
}
