// Bootstrap
$code-font-size: 80% !default;

// Fontawesome
$fa-font-path:  "../fonts/webfonts" !default;
$avnir-font-path:  "../fonts/webfonts";

// Lightbox images
$lightbox-img-path: unquote("../img/lightbox");

