<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}
    <main id="contact">
        <section class="banner">
            <div class="container">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  text-center">

                    <h1>404</h1>
                    <h6>
                        <p>
                            The page you are looking for may have been moved, deleted, or possibly never existed.
                        </p>
                    </h6>
                   
                </div>
            </div>
        </section>

    </main>
    {% include scripts.html %}
    <script>
        jQuery(document).ready(function () {
            var currentPath = window.location.pathname;
            //   alert(currentPath);
            $("header a , footer a").each(function () {
                var src = $(this).attr("href");
                if (src.indexOf(currentPath) != -1) {
                    $(this).parents("li").addClass("active");
                    $(this).parents("li").siblings().removeClass("active");
                }
            });
        });
    </script>
    {% include footer.html %}

</body>

</html>