<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}
    <main id="blog">
        <section class="innerbanner">
            <div class="container">
                <div class="col-xl-6 col-lg-6 col-md-10 col-sm-10 col-12 text-center m-auto">
                    {% if page.banner-heading%}
                    <h1>{{page.banner-heading}}</h1>
                    {% endif %}
                    {% if page.banner-subheading %}
                    <p>{{page.banner-subheading | markdownify }}</p>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="second-section">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-11 col-lg-11 col-md-10 col-sm-12 col-11 m-auto postwraper">
                        <div class="container">


                            {% for post in site.posts %}
                            <div class=" main_blog_list row postrow ">

                                <div class="col-xl-5 col-lg-5 col-md-12 m-md-auto col-sm-12 col-12">

                                    <div class="img">
                                        <img src="{{site.baseurl}}{{post.short-image}}" alt="{{ post.title }}"
                                            class="img-fluid">


                                    </div>

                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-12 m-md-auto col-sm-12 col-12">


                                    <div class="content">
                                        <p class="top">
                                            <span>
                                                {{post.date | date: "%m.%d.%Y"}}
                                            </span>
                                            <span class="seperator"></span>
                                            <span>
                                                {{ post.category }}
                                            </span>
                                        </p>
                                        <h5> {{ post.title }}</h5>

                                        <p>
                                            {{ post.short-description }}
                                        </p>

                                        <a href="{{site.baseurl}}{{post.permalink}}" class="arrow-btn">
                                            {{post.button-text}}</a>
                                    </div>

                                </div>

                            </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mid_btn">
                                        <a href="#" id="loadMore" class="button m-auto diagnol-btn">Load More</a>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row paginationrow">
                                <div class="pagination_blog">
                                    <ul>
                                        {% if paginator.previous_page %}
                                        <li class="previous">
                                            <a href="{{ paginator.previous_page_path  | prepend: site.baseurl | replace: '//', '/' }}"
                                                class="arrow pre"><i class="far fa-long-arrow-left"></i> </a>
                                        </li>
                                        {% endif %}

                                        {% if paginator.page_trail %}
                                        {% for trail in paginator.page_trail %}
                                        <li {% if page.url==trail.path %}class="selected" {% endif %}>

                                            <a href="{{ trail.path | prepend: site.baseurl  | remove: " index.html" }}"
                                                title="{{trail.title}}">{{ trail.num }}</a>

                                        </li>
                                        {% endfor %}
                                        {% endif %}


                                        {% if paginator.next_page %}
                                        <li class="next">
                                            <a href="{{ paginator.next_page_path  | prepend: site.baseurl | replace: '//', '/'  }}"
                                                class="arrow"><i class="far fa-long-arrow-right"></i></a>
                                        </li>
                                        {% endif %}


                                    </ul>
                                </div>
                            </div> -->
                        </div>

                    </div>
                </div>

            </div>


        </section>
       
    </main>
    {% include scripts.html %}
    <script>
        jQuery(document).ready(function () {
            var currentPath = window.location.pathname;
            //   alert(currentPath);
            $("header a , footer a").each(function () {
                var src = $(this).attr("href");
                if (src.indexOf(currentPath) != -1) {
                    $(this).parents("li").addClass("active");
                    $(this).parents("li").siblings().removeClass("active");
                }
            });
        });
        // load more 
        
    </script>
    {% include footer.html %}

</body>

</html>