<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}
    <main id="case-studies">
        <section class="banner" style="background-image: url({{site.baseurl}}{{page.banner-image}});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-12 col-12 m-lg-0 m-auto">
                        <h1>
                            {{page.banner-heading}}
                        </h1>
                        <h6>
                            {{page.banner-sub-heading | markdownify }}
                        </h6>

                        {% if page.banner-button-text %}
                        <a href="{{site.baseurl}}{{page.banner-button-link}}"
                            class="button ">{{page.banner-button-text}}</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>
        <section class="second-section">
            <div class="container">
                <div class="row casestudies-row">
                    {% for post in site.case-studies %}

                    <div class="col-xl-6 col-lg-6 col-md-10 m-lg-0 m-md-auto col-sm-12 col-12 casestudies-outerwrap">
                        <a href="{{site.baseurl}}{{post.permalink}}"  class="casestudies-box">
                            
                                <div class="top">
                                    <div class="img">
                                        <img src="{{site.baseurl}}{{post.card-thumbnail-image}}" alt="{{ post.title }}"
                                            class="img-fluid">
                                    </div>
                                    <div class="brandwraper">

                                        <img src="{{site.baseurl}}{{post.brand-image}}" alt="{{ post.title }}"
                                            class="img-fluid">
                                    </div>
                                </div>

                                <div class="bottom">

                                    <div class="innerwraper">

                                        <p class="category">
                                            {{ post.category }}
                                        </p>

                                        <h5> {{ post.title }}</h5>

                                        <p>
                                            {{ post.short-description }}
                                        </p>
                                    </div>

                                    <div>
                                        <span class="arrow-btn">
                                            {{post.button-text}}</span>
                                    </div>
                                </div>


                            
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        {% include scripts.html %}
        <script>
            jQuery(document).ready(function () {
                var currentPath = window.location.pathname;
                //   alert(currentPath);
                $("header a , footer a").each(function () {
                    var src = $(this).attr("href");
                    if (src.indexOf(currentPath) != -1) {
                        $(this).parents("li").addClass("active");
                        $(this).parents("li").siblings().removeClass("active");
                    }
                });
            });
        </script>
        {% include footer.html %}

</body>

</html>