<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}
    <main id="contact">
        <section class="banner">
            <div class="container">
                <div class="row row1">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12  left">
                        {% if page.banner-heading%}
                        <h1>{{page.banner-heading}}</h1>
                        {% endif %}
                        {% if page.banner-sub-heading %}

                        <h6>{{page.banner-sub-heading | markdownify }}</h6>
                        {% endif %}
                        <div class="container">
                            <div class="row cardrow">
                                <div class=" col-xl-4 col-lg-10 col-md-4  col-sm-12 col-12  innerbox address">
                                    <div class="round-cover">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15.865" height="22.664"
                                            viewBox="0 0 15.865 22.664">
                                            <g id="_352521_location_on_icon" data-name="352521_location_on_icon"
                                                transform="translate(-10 -4)">
                                                <path id="Path_26377" data-name="Path 26377"
                                                    d="M17.932,4A7.934,7.934,0,0,0,10,11.932c0,5.949,7.932,14.732,7.932,14.732s7.932-8.782,7.932-14.732A7.934,7.934,0,0,0,17.932,4Zm0,10.765a2.833,2.833,0,1,1,2.833-2.833A2.834,2.834,0,0,1,17.932,14.765Z"
                                                    fill="#510c76" />
                                            </g>
                                        </svg>

                                    </div>
                                    <p>
                                        {{page.address }}
                                    </p>

                                </div>
                                <div class=" col-xl-4 col-lg-5 col-md-3 col-sm-12 col-12  innerbox">
                                    <div class="round-cover">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17.33" height="17.33"
                                            viewBox="0 0 17.33 17.33">
                                            <g id="_352510_local_phone_icon_2_" data-name="352510_local_phone_icon (2)"
                                                transform="translate(-6 -6)">
                                                <path id="Path_26374" data-name="Path 26374"
                                                    d="M9.49,13.5a14.5,14.5,0,0,0,6.345,6.34l2.118-2.123a.966.966,0,0,1,.977-.236,10.96,10.96,0,0,0,3.437.549A.959.959,0,0,1,23.33,19v3.37a.959.959,0,0,1-.963.963A16.365,16.365,0,0,1,6,6.963.962.962,0,0,1,6.963,6h3.37a.959.959,0,0,1,.963.963,10.96,10.96,0,0,0,.549,3.437.966.966,0,0,1-.236.977Z"
                                                    transform="translate(0 0)" fill="#510c76" />
                                            </g>
                                        </svg>



                                    </div>
                                    <p>
                                        <a href="tel:{{page.phone-number}}">{{page.phone-number}}</a>
                                    </p>

                                </div>
                                <div class=" col-xl-4 col-lg-5 col-md-3 col-sm-12 col-12  innerbox">
                                    <div class="round-cover">
                                        <svg id="mail" xmlns="http://www.w3.org/2000/svg" width="21.599" height="14.174"
                                            viewBox="0 0 21.599 14.174">
                                            <path id="Path_26376" data-name="Path 26376"
                                                d="M22.338,27.236l10.124-8.774H12.213ZM19.6,26.265l2.735,2.245,2.692-2.245,7.433,6.371H12.213Zm-8.065,5.7V19.136l7.425,6.412Zm21.6,0V19.136l-7.425,6.412Z"
                                                transform="translate(-11.538 -18.461)" fill="#510c76"
                                                fill-rule="evenodd" />
                                        </svg>


                                    </div>
                                    <p>
                                        <a href="mailto:{{page.e-mail}}">{{page.e-mail}}</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12  right">

                    </div>
                </div>
            </div>
        </section>

    </main>
    {% include scripts.html %}
    <script>
        jQuery(document).ready(function () {
            var currentPath = window.location.pathname;
            //   alert(currentPath);
            $("header a , footer a").each(function () {
                var src = $(this).attr("href");
                if (src.indexOf(currentPath) != -1) {
                    $(this).parents("li").addClass("active");
                    $(this).parents("li").siblings().removeClass("active");
                }
            });
        });
    </script>
    {% include footer.html %}

</body>

</html>