<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}
    <main id="faq">
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12  m-auto text-center">
                        <h1>
                            {{page.banner-heading}}
                        </h1>
                    </div>
                </div>
            </div>
        </section>


        <section class="second-section">
            <div class="container">
                <div class="row row1">
                    <div class="col-lg-4  col-md-12 left">
                        <h5>
                            {{page.second-section-left-heading}}
                        </h5>
                        <ul class="links">

                            {% for faqcat in page.faqs %}
                            {% assign activated = 'activated' %}
                            <li {% if forloop.first %} class="{{ activated }}" {% endif %}>
                                <a href="#{{faqcat.question-category-id}}">

                                    {{faqcat.question-category}}</a>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                    <div class=" col-lg-8 col-md-12 right faq_col">
                        {% for faqcat in page.faqs %}
                        <div id="{{faqcat.question-category-id}}"
                            class="outerwrap  {% if forloop.first %} {{ activated }} {% endif %}">
                            <h2>
                                {{faqcat.question-category}}
                            </h2>

                            {% for faq in faqcat.faq %}
                            <div class="faq {% if forloop.first %} active {% endif %}">
                                <div class="question">
                                    <h5> {{faq.question}}</h5>
                                    <img src="{{site.baseurl}}{{page.faqs-section-faq-down-arrow-image}}" alt="|" />
                                </div>

                                <div class="answer">
                                    {{faq.answer | markdownify }}
                                </div>
                            </div>

                            {% endfor %}
                        </div>


                        {% endfor %}
                    </div>

                </div>

            </div>

        </section>
        <section class="third-section">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="row row1">
                                <div class="col-lg-9 col-md-12 col-12 ">
                                    {% if page.third-section-heading %}
                                    <h2>
                                        {{page.third-section-heading}}
                                    </h2>
                                    {% endif %}
                                    {% if page.third-section-sub-heading %}
                                    <p>
                                        {{page.third-section-sub-heading}}
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="col-lg-3 col-md-10 col-12 ">
                                    {% if page.third-section-button-text %}
                                    <a href="{{site.baseurl}}{{page.third-section-button-link}}"
                                        class="button">{{page.third-section-button-text}}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>




    {% include scripts.html %}
    <script>
        jQuery(document).ready(function () {
            var currentPath = window.location.pathname;

            $("header a , footer a").each(function () {
                var src = $(this).attr("href");
                if (src.indexOf(currentPath) != -1) {
                    $(this).parents("li").addClass("active");
                    $(this).parents("li").siblings().removeClass("active");
                }
            });


        });
    </script>
    {% include footer.html %}

</body>

</html>