<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}
    <main id="home">
        <section class="banner" style="background-image: url({{site.baseurl}}{{page.banner-image}});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-10 col-sm-12 col-12 m-lg-0 m-auto">
                        <h1>
                            {{page.banner-heading}}
                        </h1>
                        <h6>
                            {{page.banner-sub-heading | markdownify }}
                        </h6>

                        {% if page.banner-button-text %}
                        <a href="{{site.baseurl}}{{page.banner-button-link}}"
                            class="button ">{{page.banner-button-text}}</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>
        <section class="second-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-10 col-sm-12 col-12 left m-lg-0 m-auto">
                        <img src="{{site.baseurl}}{{page.second-section-left-image}}"
                            alt="{{page.second-section-left-image-alt}}">
                    </div>
                    <div class="col-lg-7 col-md-10 col-sm-12 col-12 right ticklist m-lg-0 m-auto">
                        {% if page.second-section-right-heading %}
                        <h3>
                            {{ page.second-section-right-heading }}
                        </h3>
                        {% endif %}

                        {% if page.second-section-right-description %}
                        {{ page.second-section-right-description | markdownify }}
                        {% endif %}


                    </div>
                </div>
            </div>

        </section>
        <section class="third-section">
            <div class="container-fluid bgshade">
                <div class="row top-row text-center">
                    <div class="col-md-7 col-12 m-auto">
                        {% if page.third-section-heading %}
                        <h2>
                            {{ page.third-section-heading }}
                        </h2>
                        {% endif %}
                        {% if page.third-section-sub-heading %}
                        {{ page.third-section-sub-heading | markdownify }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-11 col-sm-12 col-12 m-auto">
                        <div class="container">

                            <div class="row center-row">
                                <div class="col-lg-7 col-md-12 order-lg-1 order-md-12 order-sm-12 order-12 col-12 left">
                                    {{page.third-section-row-1-left-text | markdownify}}
                                    <div class="btn-wrap">
                                        {% if page.third-section-row-1-left-button-text %}
                                        <a href="{{site.baseurl}}{{page.third-section-row-1-left-button-link}}"
                                            class="arrow-btn">{{page.third-section-row-1-left-button-text}}</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div
                                    class="col-lg-5 col-md-12 col-12 right text-lg-right text-md-left order-lg-12 order-md-1 order-sm-1 order-1">
                                    <img src="{{site.baseurl}}{{page.third-section-row-1-right-image}}"
                                        alt="  {{page.third-section-heading}}">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </section>
        <section class="services">
            <div class="container">
                <div class="row toprow">
                    <div class="col-12 text-center">
                        <h2>
                            {{page.forth-section-heading}}
                        </h2>

                    </div>
                </div>


                <div class="row btmrow">
                    {% assign Service = site.Services | sort: "order" %}
                    {% for Service in Service %}
                    {% if Service.is-visible-on-home-page == true %}
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-10 col-10 text-center serviceBoxWrap">
                        <a href="{{site.baseurl}}{{Service.permalink}}" class="arrow-btn-wrap">
                            <div class="serviceBox">
                                <div class="imgwrap">
                                    <div class="cover">
                                        <img src="{{site.baseurl}}{{ Service.card-icon-image }}"
                                            alt=" {{Service.title}}">
                                    </div>
                                </div>
                                <div class="outerwrap">
                                    <div class="innerwrap">
                                        <h5>
                                            {{Service.title}}
                                        </h5>
                                        <p>
                                            {{Service.sub-heading}}
                                        </p>
                                    </div>
                                    <div>
                                        <span class="arrow-btn">{{Service.button-text}}</span>
                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>
                    {% endif%}
                    {% endfor %}
                </div>
                <div class="row btn-row">
                    <div class="col-12">
                        {% if page.forth-section-button-text %}
                        <a href="{{site.baseurl}}{{page.forth-section-button-link}}"
                            class="button m-auto">{{page.forth-section-button-text}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </section>
        <section class="fifth-section testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        {% if page.fifth-section-top-image %}
                        <img src="{{site.baseurl}}{{page.fifth-section-top-image}}"
                            alt="{{page.fifth-section-heading}}">
                        {% endif %}
                        {% if page.fifth-section-heading %}
                        <h2>
                            {{page.fifth-section-heading}}
                        </h2>
                        {% endif %}

                    </div>
                </div>
                <div class="row row2">
                    <div class="col-md-12 wocswrap">
                        <ul id="wocs">

                            {% assign wocs = site.testimonials %}
                            {% for wocs in wocs %}
                            {% if wocs.is-visible-on-home-page == true %}
                            <li>
                                <div class="innerwrap">
                                    <div class="top text-right">
                                        {% case wocs.review-platform-name %}
                                        {% when 'google' %}
                                        <img src="{{site.baseurl}}/images/google.svg"
                                            alt="{{ wocs.review-platform-name}}" class="ml-auto">
                                        {% when 'Trustpilot' %}
                                        <img src="{{site.baseurl}}/images/Trustpilot.svg"
                                            alt="{{ wocs.review-platform-name}}" class="ml-auto">
                                        {% when 'clutch' %}
                                        <img src="{{site.baseurl}}/images/clutch.svg"
                                            alt="{{ wocs.review-platform-name}}" class="ml-auto">
                                        {% else %}

                                        {% endcase %}
                                    </div>
                                    <div class="middle">
                                        {{wocs.description}}

                                    </div>
                                    <div class="bottom">
                                        <div class="left">
                                            <img src="{{site.baseurl}}{{wocs.client-image}}" alt="{{wocs.client-name}}">
                                        </div>
                                        <div class="right">
                                            <p>
                                                {{wocs.client-name}}
                                            </p>
                                        </div>
                                    </div>



                                </div>
                            </li>
                            {% endif%}
                            {% endfor %}
                        </ul>
                    </div>






                </div>
            </div>

        </section>
        {% include our-latest-blog.html %}
    </main>




    {% include scripts.html %}
    <script>
        jQuery(document).ready(function () {
            $('.home').addClass('active');
        });
    </script>
    {% include footer.html %}

</body>

</html>