<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}
    <main class="post">
        <section class="innerbanner">
            <div class="container">
                <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 col-12 text-center m-auto">
                    <p>
                        <span>
                            {{page.date | date: "%m.%d.%Y"}}
                        </span>
                        <span class="seperator"></span>
                        <span>
                            {{ page.category }}
                        </span>
                    </p>

                    <h1>{{page.title }}</h1>


                </div>
            </div>
        </section>
        <section class="second-section defautlval">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-9 col-lg-9 col-md-10 col-sm-12 col-11 m-auto postwraper">
                        <div class="container">
                            <div class="row postrow">
                                <div class="col-12">
                                    {{ content }}
                                </div>
                            </div>
                            <div class="row share-row ">
                                <div class="col-12  share-col ">
                                    <p>
                                        {{page.social-share-heading}}
                                    </p>
                                    <ul>
                                        <li> <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                                                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                                title="Share on Facebook" class="facebook"><i
                                                    class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.short-description }}&source={{ site.title }}"
                                                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                                title="Share on LinkedIn" class="linkedin">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>



                                        <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                                                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                                title="Share on Twitter" class="twitter"><i
                                                    class="fab fa-twitter"></i></a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                            <div class="row author-row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-12 left">
                                                {% if page.author-image %}
                                                <img src="{{site.baseurl}}{{page.author-image}}" alt="{{page.title}}">
                                                {% endif %}
                                                {% if page.author-name %}
                                                <p class="name">{{page.author-name}}</p>
                                                {% endif %}
                                                {% if page.author-designation %}
                                                <p class="designation">{{page.author-designation}}</p>
                                                {% endif %}
                                                <div class="socialShare">
                                                    <ul class="author-social-share">
                                                        {% if page.author-facebook-link %}
                                                        <li><a href="{{ page.author-facebook-link }}">
                                                                <i class="fab fa-facebook-f"></i>
                                                            </a></li>
                                                        {% endif %}
                                                        {% if page.author-instagram-link %}
                                                        <li><a href="{{ page.author-instagram-link }}">
                                                                <i class="fab fa-instagram"></i>
                                                            </a></li>
                                                        {% endif %}
                                                        {% if page.author-linkedin-link %}
                                                        <li><a href="{{ page.author-linkedin-link }}">
                                                                <i class="fab fa-linkedin-in"></i>
                                                            </a></li>
                                                        {% endif %}
                                                        {% if page.author-twitter-link %}
                                                        <li><a href="{{ page.author-twitter-link }}">
                                                                <i class="fab fa-twitter"></i>
                                                            </a></li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xl-8 col-lg-8 col-md-12 col-12 right">
                                                {% if page.author-section-heading %}
                                                <h5>
                                                    {{ page.author-section-heading }}
                                                </h5>
                                                {% endif %}
                                                {{page.author-description | markdownify }}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-10 col-sm-12 col-12 m-auto">
                        <div class="container">
                            <div class="row form-row">
                                <div class="col-12 text-center">
                                    {% if page.form-heading %}
                                    <h2>{{ page.form-heading }}</h2>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </section>
        {% include our-latest-blog.html %}

    </main>
    {% include scripts.html %}
    <script>
        jQuery(document).ready(function () {
            $(".blog").parents("li").addClass("active");
            $(".blog").parents("li").siblings().removeClass("active");

        });
    </script>
    {% include footer.html %}

</body>

</html>